/* ==========================================================================
   Base
   ========================================================================== */

body { }



/* =============================================================================
   Header
   ========================================================================== */

#banner { }

/* Fixed Topbar Navigation */
body.top-navbar { padding-top: 60px; }
body.admin-bar .navbar-fixed-top { top: 28px; }



/* ==========================================================================
   Content
   ========================================================================== */

#content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

#main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

#sidebar {
	
 }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry p.byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

#content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }
}


/* ==========================================================================
   Additional Stuff
   ========================================================================== */
   
.widget {
	background-color: #CCCC99;
	border-color:#000;
	border-width:2px;
	/*border:solid;*/
	-moz-border-radius:15px;
	border-radius:15px;
	padding-left:10px;
	padding-right:10px;
	padding-top:0;
	padding-bottom:10px;
	margin:20px 10px 30px;
	-moz-box-shadow:4px 4px 4px #000;
	-webkit-box-shadow:4px 4px 4px #000;
	box-shadow:0 0 10px #000;
/* For IE 8 */
	-ms-filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#000000');
/* For IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#000000');
	
}

.widget-inner ul {
	list-style: none;
}

.footer-col {
	margin-top: 15px;
	margin-left: auto;
	margin-right:	auto;
	
	
}

.footer-div {
	background-color: #CCCC99;
	overflow: visible;
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;	
}

.footer-c{
	float:right;
}

/* for meta */
.time-meta {
	font-style: italic;
	
}

/* for pages featured images */
.banner
{
	position:relative;
	float:left;
/* optional */
	-moz-border-radius:15px;
	border-radius:15px;
	margin-bottom: 30px;
}

.banner .bannertext
{
	position:absolute;
	bottom:0;
/* in conjunction with left property, decides the text position */
	left:0;
	height:auto;
	background-color:#CCCC99;
	font-family:"Josefin Slab", serif;
	font-size:36pt;
	line-height: 60px;
	padding-left:20px;
	padding-right:20px;
}